{% extends "base.html" %}



{% block scripts %}
<style type="text/css">
        #container{
            background-color:;

        }
        #header{
            /*height:75px;*/
            
            display:block;
            border:1px solid blue;
            background-color:#4A4A4A;
            /*#323232;*/
            
            
        }
        #logo{
                 
            padding-top:;

        }
        #logo > h1{
            text-shadow: 1px 1px #232323;
            font-size: 55px;
            font-weight:300;
            font-style: bold;
            font-family:Georgia;
            color:; 

        }
        #content{
            min-height: 600px;
            width:1000px;
            margin:auto;

        }
        #lists {
            display :block;
            margin-left: auto;
            margin-right: auto;
            float:left;
        }
    
        .box > a {
            display: block;
            text-decoration: none;

        }    
            
        
            
        .box {
            float: left;
            display:inline;
            width:245px;
            
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 0px 1px 4px green;
            padding: 10px;
            margin-left:10px;
            min-height: 200px;
            

        }
        #centerBox{
            background-color:#FFA500;
            margin-left:50px;
            margin-right:50px; 
        }
        #leftBox{
            background-color:#20B2AA; 
        }
        #rightBox{
            background-color:#9ACD32; 
        }
        
        
        .box > a > h1 {
            color:white;
            margin: 0px auto;
            text-align: center;
            font-size:50px;
            font-weight: lighter; 
            /*font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;*/
            /*text-shadow: 2px 2px ;*/
        }

        .box > a > p {
            font-style: normal;
            font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
            font-size:20px;
            font-weight:900;
            font-variant: ;
            color: #303030;
            text-shadow: 1px 1px grey; 

        }

        .box {
             transition: width 2s;
            -webkit-transition: width 2s;
            -moz-webkit-transition: width 2s;
        }
        
        #footer{
            border:1px solid yellow;
        }
    </style>

{% endblock %}



{% block logo %}
    <h1>mymoney</h1>
{% endblock %}


{% block content %}
<ul id="lists">
                    <li class="box" id="leftBox">
                        <a href="/source/view">
                        <h1>Sources</h1>
                        <p>All your piggy Banks.</p>
                        <p>Hello world</p>
                        </a>     
                    </li>
                    <li class="box" id="centerBox">
                        <a href="">
                        <h1>Credits</h1>
                        <p>Do you have friends to whom you need to lend some meoney.</p>
                        </a>
                    </li>
            
                    <li class="box" id="rightBox">
                        <a href="">
                        <h1>Debts</h1>
                        <p>keep track of the money you have borrowed.</p>
                        </a>
                    </li>
                </ul>
{% endblock %} 


